<h1>About</h1><br>
<p>This is a Node/Express app for spell-checking.</p>
<p>
    Version 1.0.0
</p><br>
<p>Technologies Used:</p>
<ul>
    <li>
        Node.js
    </li>
    <li>
        Express.js
    </li>
    <li>
        MongoDB
    </li>
</ul>
